@import url("../../VariablesStyle.css");

@media (min-width: 600px) {
  .Button {
    display: none;
  }
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  top: 14px;
  right: 14px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: var(--color-tertiary);
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 148px;
  width: 148px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: var(--color-primary);
}

/*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: var(--color-tertiary);

  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 1em;
}

/* Individual item */
.bm-item {
  display: inline-block;
  color: #b8b7ad;
  margin-bottom: 1rem;
  border: 1px solid white;
  padding: 10px;
}

.LinkRoute {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1.5rem;
}

.LinkRoute a {
  text-align: center;
  color: var(--color-primary);
  text-decoration: none;
  border-bottom: 1px solid #b8b7ad;
}
/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
