@import url("../../VariablesStyle.css");

footer {
	width: 100%;
	display: flex;
	flex-direction: row;
	background-color: var(--color-tertiary);
	justify-content: space-around;
	color: white;
	padding: 2% 0;
}
.nav_footer,
.nav_footer_redesSociais {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
.li_span_titulo {
	font-weight: bold;
	color: var(--color-secundary);
}
.nav_footer_redesSociais ul {
	display: flex;
	flex-direction: row;
	gap: 1rem;
}
.nav_footer_redesSociais ul li a img {
	width: 1.5rem;
}
